<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Port" value="20777"/>
    <add key ="WaypointsNavigation" value="0"/><!-- Experimental -->
    <add key ="CaptureManualTransmissionGearing" value="1"/><!-- Cross/script communication with Manual Transmission Mod -->
    <add key ="ManualTransmissionNeutralGearDecorator" value="1"/><!-- Cross/script communication with Manual Transmission Mod -->
    <add key ="SequentialFix" value="0"/>
    <add key ="NeutralGearInference1" value="0"/>
    <add key ="NeutralGearInference2" value="0"/>
    <add key ="NeutralGearSpeedKMH" value="15"/><!-- Only used for Neutral inference -->
    <add key ="NeutralGearIdleRPMs" value="70"/><!-- Only used for Neutral inference,  0 - 100 Percent Range -->
  </appSettings>
</configuration>