<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="SequentialFix" value="0"/>
    <add key ="NeutralGearInference" value="1"/>
    <add key ="NeutralGearSpeedKMH" value="20"/>
    <add key ="NeutralGearIdleRPMs" value="60"/><!-- 0 - 100 Percent Range -->
  </appSettings>
</configuration>